
.btn-success{
    background-color: rgb(124, 230, 18) !important;
}

.container-fluid{
    padding: 0 !important;
    background-color: white !important;
}

.navbar{
    padding: 0 !important;
}
.nav-move{
    
}